{% extends 'BlogModuleBundle:Admin:layout.html.twig' %}

{% block title %} {{ 'Categories'|trans }} / {{ parent() }} {% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

        <div class="row">
    <div class="span3 col-md-3">
        {{ form(form, {'attr': {'class': 'well'} }) }}
    </div>

    <div class="span8 col-md-8">
        {% set menuItem = knp_menu_get('BlogModuleBundle:Category:adminTree', [], {'categoryClass': categoryClass}) %}
        {{ knp_menu_render(menuItem, {
            'currentClass': 'active',
            'clear_matcher': false,
        }) }}

    </div>

        </div>
    </div>
</div>

{% endblock content %}
