{% extends '@FOSUser/layout.html.twig' %}

{% block fos_user_content %}
    {% include '@FOSUser/Profile/show_content.html.twig' %}
    <a href="{{ path('fos_user_profile_edit') }}">{{ 'Edit'|trans }}</a> |
    <a href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a>
{% endblock fos_user_content %}
