/app/config/parameters.yml
/bin/*.bat
/bin/doctrine*
/bin/jp.php
/bin/security*
/bin/symfony_requirements
/bin/phpspec*
/bin/pscss
/public_html
bower_components/
node_modules/
/var/
/vendor/
/web/_media/
/web/images/
/web/bundles/
/web/uploads/
/web/sitemap.xml
composer.phar
*.quarantine
*.tmb
*.php~
!*.gitkeep
!*.gitignore
