/app/config/parameters.yml
/app/bootstrap.php.cache
/app/SymfonyRequirements.php
/bin/doctrine*
/bin/security*
/bin/symfony_requirements
/bin/phpspec*
/public_html
/var/
/vendor/
/web/_media/
/web/bundles/
/web/upload/
/web/uploads/
/web/sitemap.xml
composer.phar
*.quarantine
*.tmb
*.php~
!*.gitkeep
!*.gitignore
