{% extends 'BlogModule::layout.html.twig' %}

{% block smart_blog_content %}

    {# @todo переводы #}

    <h1>Статьи в категории:
        {% for category in categories %}
            <a href="{{ path('smart_blog.category.articles', {'slug': category.slugFull}) }}/">{{ category }}</a> /
        {% endfor %}
    </h1>

    {% set childenCategories = lastCategory.children %}

    {% if childenCategories|length %}
        <h3>Вложенные категории:</h3>
        <ul>
        {% for category in childenCategories %}
            <li><a href="{{ path('smart_blog.category.articles', {'slug': category.slugFull}) }}/">{{ category }}</a></li>
        {% endfor %}
        </ul>
        <hr />
    {% endif %}

    {% block smart_blog_content_articles %}
        {% include 'BlogModule:Article:_list.html.twig' %}
    {% endblock smart_blog_content_articles %}

{% endblock smart_blog_content %}
