<h3>Статьи в категории:
    {% for category in categories %}
        <a href="{{ path('smart_blog.category.articles', {'slug': category.slugFull}) }}/">{{ category }}</a> /
    {% endfor %}
</h3>

{% set childenCategories = lastCategory.children %}

{% if childenCategories|length %}
    <h4>Вложенные категории:</h4>

    <ul>
    {% for category in childenCategories %}
        <li><a href="{{ path('smart_blog.category.articles', {'slug': category.slugFull}) }}/">{{ category }}</a></li>
    {% endfor %}
    </ul>

    <hr />
{% endif %}

{% block smart_blog_content_articles %}
    {% include 'BlogModuleBundle:Article:_list.html.twig' %}
{% endblock smart_blog_content_articles %}
