parameters:
    base_url:           http://smart-core.org

    database_driver:    pdo_mysql
    database_host:      127.0.0.1
    database_port:      ~
    database_name:      smart_core
    database_user:      root
    database_password:  ~
    database_socket:    /var/run/mysqld/mysqld.sock    # /var/run/postgresql/.s.PGSQL.5432
    database_table_prefix: ~

    #database2_driver:   pdo_mysql
    #database2_host:     127.0.0.1
    #database2_port:     ~
    #database2_name:     smart_core_db2
    #database2_user:     root
    #database2_password: ~
    #database2_socket:   /var/run/mysqld/mysqld.sock

    dizda_cloud_dropbox_user:     myDropboxUser
    dizda_cloud_dropbox_password: MyDropboxPassword
    dizda_cloud_dropbox_remote_path: ''

    mailer_transport:   mail
    mailer_host:        127.0.0.1
    mailer_user:        ~
    mailer_password:    ~

    knp_disqus.api_key: YOUR_PUBLIC_API_KEY

    locale: ru

    tagcache_driver: Nullcache # Memcache, Memcached, File, Sqlite, Apc, Nullcache
    orm_cache_driver: ~ # apc, wincache, xcache

    registration_email_confirmation: registration-email-confirmation@localhost.org
    email_resetting: no-reply@localhost.org

    secret: SmartCoreThisTokenIsNotSoSecretChangeIt

    session_handler: session.handler.native_file # smart_core_session.handler
