parameters:
    base_url:           http://smart-core.org

    database_driver:    pdo_mysql
    database_host:      127.0.0.1
    database_port:      ~
    database_name:      smart_core
    database_user:      root
    database_password:  ~
    database_socket:    /var/run/mysqld/mysqld.sock    # /var/run/postgresql/.s.PGSQL.5432
    database_table_prefix: ~

    # database2_driver:   pdo_mysql
    # database2_host:     127.0.0.1
    # database2_port:     ~
    # database2_name:     smart_core_db2
    # database2_user:     root
    # database2_password: ~
    # database2_socket:   /var/run/mysqld/mysqld.sock

    mailer_transport:   mail
    mailer_host:        127.0.0.1
    mailer_user:        ~
    mailer_password:    ~

    # knp_disqus.api_key:    YOUR_PUBLIC_API_KEY
    # knp_disqus.secret_key: YOUR_SECRET_API_KEY      # optional, for SSO auth only

    locale: ru

    tagcache_driver: Nullcache      # Memcache, Memcached, File, Sqlite, Apc, Nullcache
    orm_cache_driver: apcu          # apc, apcu, wincache, xcache or ~

    fos_from_email_address: from@localhost.org
    fos_from_email_sender_name: Hello

    registration_email_confirmation: registration-email-confirmation@localhost.org
    email_resetting: no-reply@localhost.org

    secret: SmartCoreThisTokenIsNotSoSecretChangeIt

    session_handler: session.handler.native_file # smart_core_session.handler
