parameters:
    base_url:           http://smart-core.org

    database_driver:    pdo_mysql
    database_host:      localhost
    database_port:      ~
    database_name:      smart_core
    database_user:      smart_core
    database_password:  123

    database_driver_db1:   pdo_mysql
    database_host_db1:     localhost
    database_port_db1:     ~
    database_name_db1:     smart_core_db1
    database_user_db1:     smart_core
    database_password_db1: 123

    database_table_prefix: aaa_

    mailer_transport:   mail
    mailer_host:        localhost
    mailer_user:        ~
    mailer_password:    ~

    locale: ru

    tagcache_driver: File # Memcache, Memcached, File, Sqlite, Apc, Nullcache

    registration_email_confirmation: registration-email-confirmation@localhost.org

    secret: SmartCoreThisTokenIsNotSoSecretChangeIt

    session_handler: smart_core_session.handler
