{% extends '@CMS/Admin/_layout.html.twig' %}

{% block title %}{{ 'Media Library'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h3>Редактирование хранилища</h3>

    <div class="well well-small">
        {{ form(form, {
            'attr': {'class': 'form-horizontal'}
        }) }}
    </div>

{% endblock content %}
