{% extends '@CMS/Admin/_layout.html.twig' %}

{% block title %}{{ 'Media Library'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h3>Редактирование коллекци</h3>

    {{ form(form, {
        'attr': {'class': 'well well-small form-horizontal'}
    }) }}

{% endblock content %}
