{% extends '@CMS/AdminMediaLibrary/index.html.twig' %}

{% block title %}{{ 'Media Library'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <h3>Редактирование хранилища: &laquo;{{ form.vars.value.title }}&raquo;</h3>

    {{ form(form, {'attr': {'class': 'well form-horizontal'} }) }}

    </div>
</div>

{% endblock content %}
