{% extends '@MopaBootstrap/Form/fields.html.twig' %}

{% block button_row %}
    {% spaceless %}
        <div class="form-button">
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock button_row %}
