<a href="#showHelp" role="button" class="btn btn-small" data-toggle="modal" style="float: right; margin-top: 8px;"><b>?</b> Справка</a>
<div id="showHelp" class="modal hide fade modal-admin" tabindex="-1" role="dialog" aria-labelledby="showHelpLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="showHelpLabel">Справка по созданию и редактированию атрибута</h3>
    </div>
    <div class="modal-body">
        <table class="table table-hover">
            <tr>
                <td style="width: 20%; white-space: nowrap;">Заголовок <em>*</em></td>
                <td>Любой текст.</td>
            </tr>
            <tr>
                <td>Имя <em>*</em></td>
                <td><div class="alert alert-error"><b>Внимание!</b> Доступно только при создании атрибута.</div>
                    Только латинские буквы в нижем регистре и символы подчеркивания. Будет создана сущность,
                </td>
            </tr>
            <tr>
                <td>Тип <em>*</em></td>
                <td><div class="alert alert-error"><b>Внимание!</b> Доступно только при создании атрибута.</div></td>
            </tr>
            <tr>
                <td>Params yaml</td>
                <td>
                    <p>Атрибуты формы:</p>
                        <pre>form:
    attr:
        class: 'wysiwyg'
        data-theme: 'advanced'
                        </pre>

                    <p>Для <b>image</b> можно задать фильтр:</p>
                    <pre>filter: 300_300</pre>
                </td>
            </tr>
            <tr>
                <td>Is dedicated table</td>
                <td>
                    <div class="alert alert-error"><b>Внимание!</b> Доступно только при создании атрибута.</div>
                    Создать таблицу для хранения значений, которая будет служить для поиска по этому атрибуту.
                </td>
            </tr>
            <tr>
                <td>Is link</td>
                <td>Создавать ссылку за запись, используется с шаблоне по умолчанию.</td>
            </tr>
            <tr>
                <td>Is required</td>
                <td>Обязателен для заполнения.</td>
            </tr>
            <tr>
                <td>Is show title</td>
                <td>Показывать заголовок атрибута, используется с шаблоне по умолчанию.</td>
            </tr>
            <tr>
                <td>Show in admin</td>
                <td>Показывать в таблице админа.</td>
            </tr>
            <tr>
                <td>Show in list</td>
                <td>Показывать пользователям в списках записей.</td>
            </tr>
            <tr>
                <td>Show in view</td>
                <td>Показывать пользователям при просмотре записи.</td>
            </tr>
            <tr>
                <td>Open tag</td>
                <td>Открывающий код.</td>
            </tr>
            <tr>
                <td>Close tag</td>
                <td>Закрывающий код.</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'Close'|trans }}</button>
    </div>
</div>
