<div class="well well-small">
    {{ form(form, {
        'attr': {'class': 'form-horizontal'}
    }) }}
</div>
{{ tinymce_init() }}
{{ elfinder_tinymce_init() }}

<script type="text/javascript">
    $(function(){
        $('.input-mini').css('width', '70px');
        $('.input-small').css('width', '90px');
        $('#smart_module_news_item_publish_date > select').css('float', 'left');
        $('#smart_module_news_item_publish_date_time > select:first-child').css('margin-left', '20px');
        $('#smart_module_news_item_publish_date_time > select').css('display', 'inline');
    });
</script>
