{% extends '@SimpleNewsModule/Admin/index.html.twig' %}

{% block title %}Редактирование / {{ parent() }}{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" id="myTab">
        <li><a href="{{ path('smart_module.news_admin') }}">Список всех новостей</a></li>
        <li><a href="{{ path('smart_module.news_admin.create') }}">Написать новость</a></li>
        <li class="active"><a>Редактирование новости</a></li>
    </ul>

    {% include '@SimpleNewsModule/Admin/_form.html.twig' with {'form': form} %}

{% endblock content %}
