body {
    /* @todo отступ сверху нужен для размещения тулбара, НО при узком окне (мобильная версия), тулбар тоже отступает сверху :( надо как-то починить ;) */
    /* padding-top: 60px;*/
}
.cms-frontadmin-node {
    position: relative;
}
.cms-frontadmin-node:hover {

}
.cms-frontadmin-node-mode-edit {
    outline: 1px dashed gray;
}
.cms-frontadmin-node-mode-edit:hover {
    outline: 2px dashed red;
}
.cms-empty-node {
    height: 8px;
    width: 8px;
    background-color: red;
}
.cms-frontadmin-node-buttons {
    color: #000000;
}
.cms-frontadmin-node-buttons.btn-group {
    float: left;
    position: absolute;
    /*top: -6px;*/
    left: 0;
    z-index: 999;
}
.cms-frontadmin-node-buttons.btn-group a {
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
}
.cms-frontadmin-node-buttons.btn-group li {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.cms-toolbar li {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
ul.dropdown-menu { /* Прижать меню вплотную к плашке*/
    margin: 0;
}
.navbar a {
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}
.navbar ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
    margin: 0;
}
.navbar a.menu:after,
.navbar .dropdown-toggle:after {
    content: none;
}

.navbar-nav > li > a {
    padding-top:5px !important;
    padding-bottom:5px !important;
}
.navbar {
    min-height:30px !important
}
.navbar-brand {
    float: left;
    height: 30px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
}
