<div>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% endif %}
</div>

{% block fos_user_content '' %}
