{% extends '@WebFormModule/Admin/_layout.html.twig' %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <h3>{{ 'Settings of WebForm'|trans }}: &laquo;{{ web_form.title }}&raquo;</h3>

    {{ form_errors(form) }}
    {{ form(form, {'attr': {'class': 'form-horizontal well'}} ) }}

    </div>
</div>

{% endblock content %}
