{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Shop settings'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h2>{{ 'Shop settings'|trans }}</h2>

    Каталог:

    {#{{ form(form, {'attr': {'class': 'form-horizontal well'}} ) }}#}

{% endblock content %}
