body {
    background-color: #505050;
}
body > .container {
    color: white;
}
body > .container label {
    color: white;
}
body > .container a,
body > .container a:hover,
body > .container a:focus {
    color: yellow;
}
ul.main_menu li.current > a {
    color: orange;
}
/*
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #666666;
}
*/
ul.dropdown-menu {
    margin: 0;
}
ul.dropdown-menu a {
    color: black;
}
ul.dropdown-menu a:hover {
    color: white;
}
/* override bootstrap pagination */
.pagination ul > li > span {
    background-color: #505050;
    border: 1px solid #dddddd;
}

.pagination ul > li > a,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #505050;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus {
    background-color: #444400;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #999999;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #999999;
}

/* Symfony */
.sf-reset {
    color: black;
}
.sf-reset a {
    color: gray !important;
}

.ladybug label {
    color: black !important;
}
