{% if app.session.flashbag.has('error') %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row-fluid">
            <div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
        </div>
    {% endfor %}
{% endif %}

{% if app.session.flashbag.has('notice') %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="row-fluid">
            <div class="alert"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
        </div>
    {% endfor %}
{% endif %}

{% if app.session.flashbag.has('success') %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row-fluid">
            <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ flashMessage }}</div>
        </div>
    {% endfor %}
{% endif %}
