{% extends '@UnicatModule/Admin/configuration.html.twig' %}

{% block title %}{{ 'Create attributes group'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h3>{{ 'Create attributes group'|trans }}</h3>

    {{ form(form, {'attr': {'class': 'form-horizontal well'}}) }}

{% endblock content %}
