
{% for item in news %}
    <h5><a href="{{ path('smart_module.news.item', {'slug': item.slug}) }}">{{ item.title }}</a></h5>
    <p><b>{{ item.created|date('Y-m-d H:i:s') }}</b></p>
    <p>{{ item.annotation }}</p>
{% endfor %}
