{% extends '@CMS/Admin/_layout.html.twig' %}

{% block html_head_title %}{{ 'Configuration'|trans }} / {{ parent() }}{% endblock html_head_title %}

{% block nav %}
    {#{{ knp_menu_render('CMSBundle:AdminMenu:user', { 'currentClass': 'active', 'clear_matcher': true })}}#}
{% endblock nav %}

{% block content %}

<a href="{{ path('cms_admin_config_media') }}">Медиа библиотека</a>

{% endblock content %}
