{% extends '@UnicatModule/Admin/configuration.html.twig' %}

{% block title %}{{ 'Structure create'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h2>{{ 'Structure create'|trans }}</h2>

    {{ form(form, {'attr': {'class': 'well form-horizontal'}}) }}

{% endblock content %}
